@model TP_PWEB.Models.Empresa

@{
    ViewBag.Title = "Detalhes";
}

<br />
<h5>Detalhes Empresa</h5>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt>
            Nome proprietário
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.NomeCompleto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdEmpresa }, new { @class = "btn btn-warning" }) &nbsp;
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
