@model TP_PWEB.Models.Compra

@{
    ViewBag.Title = "Compra";
}
<h2>
	Detalhes de compra
</h2>
<div>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			Produto
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Produto.Nome)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Unidades)
		</dt>
		<dd>
			x @Html.DisplayFor(model => model.Unidades)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Estado)
		</dt>
		@switch (Model.Estado)
		{
			case TP_PWEB.Models.Estado.CONFIRMADA:
				<dd style="color: green">Confirmada</dd>
				break;
			case TP_PWEB.Models.Estado.ENTREGUE:
				<dd style="color: black">Entregue</dd>
				break;
			case TP_PWEB.Models.Estado.PENDENTE:
				<dd style="color: darkgrey">Pendente</dd>
				break;
		}

		<dt>
			@Html.DisplayNameFor(model => model.DataPedido)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.DataPedido)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DataConfirmacao)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.DataConfirmacao)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DataEntrega)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.DataEntrega)
		</dd>
	</dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
