@model IEnumerable<TP_PWEB.Models.Compra>
@{
    ViewBag.Title = "Compras";
}
<h2>Histórico de Compras</h2>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Produto.Nome)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Unidades)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Estado)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataPedido)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataConfirmacao)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DataEntrega)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Produto.Nome)
			</td>
			<td>
				x @Html.DisplayFor(modelItem => item.Unidades)
			</td>
			@switch (item.Estado)
			{
				case TP_PWEB.Models.Estado.CONFIRMADA:
					<td style="color: green">Confirmada</td>
					break;
				case TP_PWEB.Models.Estado.ENTREGUE:
					<td style="color: black">Entregue</td>
					break;
				case TP_PWEB.Models.Estado.PENDENTE:
					<td style="color: darkgrey">Pendente</td>
					break;
			}

			<td>
				@Html.DisplayFor(modelItem => item.DataPedido)
			</td>

			@if (item.Estado == TP_PWEB.Models.Estado.CONFIRMADA || item.Estado == TP_PWEB.Models.Estado.ENTREGUE)
			{
				<td>@Html.DisplayFor(modelItem => item.DataConfirmacao)</td>
			}
			else
			{
				<td>-</td>
			}

			@if (item.Estado == TP_PWEB.Models.Estado.ENTREGUE)
			{
				<td>@Html.DisplayFor(modelItem => item.DataEntrega)</td>
			}
			else
			{
				<td>-</td>
			}
			
			<td>
				@Html.ActionLink("Details", "Details", new { id = item.IdCompra }, new { @class = "btn btn-primary" })
			</td>

		</tr>
	}
</table>
