@model IEnumerable<TP_PWEB.Models.Categoria>

@{
    ViewBag.Title = "Lista de Categorias";
}
<br /><br />
<p>
    @Html.ActionLink("Nova Categoria", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCategoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCategoria)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdCategoria }, new { @class = "btn btn-warning" }) &nbsp;
            @Html.ActionLink("Detalhes", "Details", new { id = item.IdCategoria }, new { @class = "btn btn-info" }) &nbsp;
            @Html.ActionLink("Apagar", "Delete", new { id = item.IdCategoria }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
