@model TP_PWEB.Models.ApplicationUser

@{
    ViewBag.Title = "Detalhes";
}

@if (User.IsInRole("Admin"))
{
    <h3>Detalhes Cliente</h3>
}

@if (User.IsInRole("Empresa"))
{
    <h3>Detalhes Funcionário</h3>
}

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Voltar", "ListaClientes")
    }

    @if (User.IsInRole("Empresa"))
    {
        @Html.ActionLink("Voltar", "ListaFuncionarios")
    }
</p>
