@model TP_PWEB.Models.ApplicationUser

@{
	ViewBag.Title = "Funcionario";
}
<h3>Detalhes Funcionário</h3>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.NomeCompleto)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.NomeCompleto)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Voltar", "ListaFuncionarios")
</p>
