@model IEnumerable<TP_PWEB.Models.ApplicationUser>

@{
    ViewBag.Title = "Funcionários";
}

<br />
<br />
<p>
    @Html.ActionLink("Novo Funcionario", "RegistarFuncionario", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarFuncionario", new { id = item.Id }, new { @class = "btn btn-warning" })&nbsp;
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-info" })&nbsp;
                @Html.ActionLink("Apagar", "ApagarFuncionario", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>